<div class="animated-title">
    <div class="text-top">
        <div>
            <span>Reimagine</span>
            <span>your Business</span>
        </div>
    </div>
    <div class="text-bottom">
        <div>with creativity</div>
    </div>
</div>

@code {
    private async void start()
    {
        
    }
}
