@page "/"
@using MyBlogWeb.Services;

@inject IJSRuntime JSRuntime
@inject BrowserService BrowserService
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

@if(isLoading)
{
    <div class="contentloader">
        <img class="centerimg" src="/imgassets/vanillaloader.gif" />
    </div>
}
else{
    <div class="video-container">
            <video autoplay loop muted class="background-video">
            <source src="/videoasssets/iobckgiii.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
    </div>

    <div class="wrapper">
        <div class="typing-demo">
            <h2>"I do stuff with computers for humans!"</h2>
        </div>
    </div>

    <div class="ButtonToolbar">
        <button class="cta" @onclick="Explore">
            <span class="hover-underline-animation"> Explore </span>
            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" style="fill:white;" id="arrow-horizontal">
                <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
            </svg>
        </button>
    </div>
}
@code
{
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dimension = await BrowserService.GetDimensions();
            int scrnWidth = dimension.Width;
            int scrnHeight = dimension.Height;

            if(scrnWidth < 650)
            {
                NavigationManager.NavigateTo("/m");
            }
            isLoading = false;
            StateHasChanged();
        }
    }

    private void Explore()
    {
        NavigationManager.NavigateTo("/Explore/en");
    }
}